html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF8C00;
}

#shork {
	font-size: 8em;
	animation-name: rotate;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
